/*text: open sans, bold 700, light 300
header background: #404041
h1 Number color : #ED458B
h1 Guesser color: #E6E7E8
Guess button color: #929497
Guess button text color: #FFFFFF
Guess button disabled color: #D0D2D3
Guess button hover color: #EB008B
Last guess text color: #404041
Last guess number color: #EB008B*/

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

header {
  background: #404041;
  height: 20vh;
  width: 100%;
}

h1 {
  color: #E6E7E8;
  font-weight: 300;
  font-size: 64px;
  letter-spacing: .05em;
  padding: 50px;
}

h1 strong {
  color: #ED458B;
  font-weight: 700;
  margin: 0 1%;
}

fieldset {
  width: 50%;
  margin: 5vh 25% 6vh;
}

#user-guess {
  height: 45px;
  width: 100%;
  margin: 0 0 5vh;
  font-size: 24px;
}

button {
  width: 45%;
  height: 45px;
  background-color: #929497;
  border-radius: 5em;
  color: #FFFFFF;
}

button:disabled {
  background-color: #D0D2D3;
}

button:hover {
  background-color: #EB008B;
}

button:focus {
  outline: none;
}

#submit-button {
  float: left;
  margin: 0 5% 0 0;
}

#clear-button {
  float: right;
  margin: 0 0 0 5%;
}

p {
  font-size: 24px;
  color: #404041;
}

#last-guess {
  color: #EB008B;
  font-size: 256px;
  font-weight: 300;
}

#reset-button {
  width: 50%;
  height: 45px;
  margin-top: 5vh;
}
