/*text: open sans, bold 700, light 300
header background: #404041
h1 Number color : #ED458B
h1 Guesser color: #E6E7E8
Guess button color: #929497
Guess button text color: #FFFFFF
Guess button disabled color: #D0D2D3
Guess button hover color: #EB008B
Last guess text color: #404041
Last guess number color: #EB008B*/

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  background: #404041;
  height: 20vh;
  text-align: center;
  width: 100%;
}

h1 {
  color: #E6E7E8;
  font-weight: 300;
  font-size: 64px;
  letter-spacing: .05em;
  padding: 50px;
}

h1 span {
  color: #ED458B;
  font-weight: 700;
  margin: 0 1%;
}

fieldset {
  text-align: center;
}

#user-guess {
  height: 45px;
  width: 40%;
  margin: 5% 30% 4%;
  font-size: 24px;
}
